<h4>Application Form</h4>
<form action="/job/{{job['id']}}/apply">
    <div class="mb-2">
    <label for="">Full Name</label><br>
    <input type="text" name="full_name", placeholder="Bruce Wayne"><br>
    </div>
    <div class="mb-2">
    <label for="">Email</label></br>
    <input type="email" name="email", placeholder="bruce@wayne.com"><br>
    </div>
    <div class="mb-2">
    <label for="">Linkedin URL</label></br>
    <input type="text" name="linkedin", placeholder="https://www.linkedin.com/in/brucewayne">
    </div>

    <input type="submit" name="submit">
</form>